@import "../../../../App.scss";

.modalContainerMain{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;

    background-color: rgba(black, 40%);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal{
        background-color: white;
        width: 100%;
        max-width: 648px;
        padding: 40px 47px;

        .modalHeader{
            font-size: 24px;
            font-weight: 600;

            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-bottom: 24px;
            border-bottom: 1px #E3D7D7 solid;
            margin-bottom: 24px;

            button{
                border: none;
                background-color: white;
                cursor: pointer;
            }
        }

        .modalForm{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;

            gap: 35px;

            &>div{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .radioDiv{
                    align-self: flex-start;
                    flex: 1;
                    display: flex;
                    justify-content: flex-start;

                    label{
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        input{
                            height: 20px;
                            width: 20px;
                        }
                    }
                }

                label{
                    font-weight: 600;
                    font-size: 16px;
                    width: 150px;
                }
                .inputContainer{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    height: 48px;
                }

                .errorMessage{
                    font-size: 10px;
                    position: absolute;
                    bottom: -15px;
                }

                

                input, select{
                    border: 1px #E3D7D7 solid;;
                    flex: 1;
                    outline: none;
                    height: 48px;
                    padding: 0 20px;

                    font-size: 16px;
                    border-radius: 5px;
                }

                input:focus{
                    border-color: $black;
                }
            }

            

            .button{
            align-self: flex-start;
            background-color: $purple;
            color: white;
            display: flex;
            border: none;
            align-items: center;
            justify-content: center;

            font-size: 16px;
            font-weight: 600;
            padding: 0 15px;
            height: 40px;

            border-radius: 20px;
            transition: background-color 0.2s ease-out;

            &:hover{
                cursor: pointer;
                background-color: $purpleHover;
            }
        }
        }

        
    }
}
