@import "../../../../../../App.scss";

.detailParent{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1150px;
    margin-top: 160px;
    gap: 102px;

    margin-bottom: 160px;

    .detailMeta{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;
        max-width: 500px;

        & > * {
            opacity: 0;
        }

        img{
            width: 30px;
        }

        .detailMetaTitle{
            font-weight: 700;
            font-size: 55px;
        }

        .detailMetaDesc{
            font-size: 18px;
            line-height: 32px;
        }

        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;

            color: $purple;
            font-weight: 600;

            cursor: pointer;

            img{
                width: 14px;
                margin-left: 8px;

                transition: margin-left 0.1s ease-out;
            }

            &:hover > img{
                margin-left: 12px;
            }


        }
    }

    .detailMedia{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        position: relative;

        
        
        border-radius: 34px;
        opacity: 0;

        .dynamicImgContainer{
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 452px;
            border-radius: 34px;
            overflow: hidden;

            .mainDynamicImage{
                z-index: 100;
            }

            .dynamicMediaBg{
                width: 100%;
                height: 341px;
                background-color: #FAF4FF;
                border-radius: 34px;
                position: absolute;
                bottom: 0;
            }
        }

        
        .dynamicElement{
            position: absolute;
            width: 230px;
            z-index: 200;
        }

    }

}

@media screen and (max-width: 1130px) {
    .detailParent{
        flex-direction: column;
        padding: 20px;
        flex-shrink: 1;
        .detailMeta{
            margin-left: 20px;
            margin-right: 20px;
            .detailMetaTitle{
                font-size: 40px;
            }
        }
    }

  }

  @media screen and (max-width: 630px) {
    .detailParent{
        gap: 20px;
        margin-top: 60px;
        margin-bottom: 0;
       .detailMedia img{
        transform: scale(0.9);
       }
    }

  }