@import '../../App.scss';

.headerParent{
    display: flex;
    align-items: center;
    justify-content: flex-start;


    padding: 0 26px;
    height: 70px;

    border: 1px #22222210 solid;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    img{
        width: 50px;
        margin-right: 54px;
    }

    .menu{
        margin: 0;
        padding: 0;
        list-style-type: none;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .menu > li{
        cursor: pointer;
        transition: color 0.2s ease-out;
    }

    .menu>li:hover{
        color: $purpleHover;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 13px;
        margin-left: 13px;
    }

    .menuIcon{
        margin-left: auto;
        display: none;
        cursor: pointer;
        img{
           width: 30px;
        }
    }

    .menuDrawer{
        position: fixed;
        left: 100%;
        top: 0;

        width: 100vw;
        height: 100vh;

        background-color: white;

        z-index: 300;

        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left 0.2s ease-out;


        .drawerMenu{
            margin: 0 auto;
            padding: 0;
            list-style-type: none;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;

            margin-bottom: 40px;
        }

        & > .searchBoxParent {
            margin-bottom: 40px;
            width: 80vw;
        }
    
        .drawerMenu > li{
            cursor: pointer;
            transition: color 0.2s ease-out;

            font-size: 50px;
            font-weight: 600;
        }
    
        .drawerMenu>li:hover{
            color: $purpleHover;
        }
    
        .drawerButtons{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            gap: 13px;
            margin-left: 13px;

            & > div{
                width: 80vw;
            }
        }

        .close{
            position: absolute;
            top: 19px;
            right: 39px;
            cursor: pointer;

            img{
                width: 35px;
            }
        }
    }
}

.searchBoxParent{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 40px;
    border: 1px  rgba($black, 0.10) solid;
    border-radius: 20px;
    gap: 0;

    padding: 0 13px;
    gap: 13px;

    img{
        width: 15px;
        margin: 0;
    }

    input{
        flex: 1;
        align-self: stretch;
        width: 200px;
        border: none;
        outline: none;
        margin: none;
    }
    input::placeholder{
        color: rgba($black, 0.50);
    }   
}


@media screen and (max-width: 1020px) {
    .headerParent {
        .menuDrawer{
            display: flex;
        }
        .menu{
            display: none;
            background-color: red;
         }

         .menuIcon{
            display: flex;
         }

         .buttons{
            display: none;
         }

         & > .searchBoxParent{
            display: none;
         }

         img{
            margin-right: auto;
         }
    }

  }

  @media screen and (max-width: 500px){
    .headerParent{
        .menuDrawer{
            .drawerMenu > li{
                font-size: 20px;
            }
        }
    }
  }
