@import "../../../../App.scss";

.userDataMain{
    margin: 70px 90px 70px 90px;
    padding: 52px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .userDataContainer{
        width: 100%;
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;


        .userDataHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 33px;

            .title{
                font-weight: 600;
                font-size: 24px;
            }

            .addUser{
                background-color: $purple;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 16px;
                font-weight: 600;
                padding: 0 15px;
                height: 40px;

                border-radius: 20px;
                transition: background-color 0.2s ease-out;

                &:hover{
                    cursor: pointer;
                    background-color: $purpleHover;
                }
            }
        }

        .userTableContainerParent{
            border: 1px #E3D7D7 solid;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: auto;

            table{
                width: 100%;
                border-collapse: collapse;

                tr{
                    border-bottom: 1px #E3D7D7 solid;
                }

                th{
                    font-weight: 400;
                    color: #717171;
                    
                }

                td, th{
                    text-align: left;
                    min-width: 220px;
                    padding: 20px;

                    font-size: 18px;
                }

                .name{
                    padding: 20px 20px 20px 40px ;
                }

                .gender{
                    min-width: 90px;
                    width: 90px;

                    
                }

                .status{
                    min-width: 150px;
                    width: 150px;
                }

                .action{
                    padding: 20px 40px 20px 20px ;
                    min-width: 180px;
                    width: 180px;

                    text-align: right;
                }
            }
            

        }

        .buttonContainer{

            margin-top: 31px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 14px;
            font-weight: 600;

            button{
                font-size: 14px;
            font-weight: 500;

            display: flex;
            align-items: center;
            justify-content: center;

            gap: 5px;
            border: none;

            background-color: rgba($black, 5%);

            height: 40px;

            padding: 0 15px;
            border-radius: 20px;

            cursor: pointer;

            transition: background-color 0.2s ease-out;

            &:hover{
                background-color: rgba($black, 20%);
            }
            }
        }

    }

    
}