@import "../../../../App.scss";

.heroContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;

    padding-top: 70px;
    box-sizing: border-box;

    .heroMeta{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        text-align: center;

        .heroTitle{
            font-size: 60px;
            font-weight: 700;
            padding: 57px 0 43px 0;        
            
            span{
                color: $purple;
            }
        }

    }
}


