$purple: #9B62E0;
$chatPurple: #A873E8;
$purpleHover: #8F50DB;
$black: #222222;
$pastelYellow: #FDEFBE;
$dpBlue: #AAC6F1;
$dpGreen: #ACE4B2;


@font-face {
    font-family: 'Graphik';
    src: url('./assets/fonts/GraphikRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Graphik';
    src: url('./assets/fonts/GraphikMedium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Graphik';
    src: url('./assets/fonts/GraphikSemiBold.otf') format('opentype');
    font-weight: 600; /* Semi-Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Graphik';
    src: url('./assets/fonts/GraphikBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Graphik';
    src: url('./assets/fonts/GraphikBlack.otf') format('opentype');
    font-weight: 900; /* Black */
    font-style: normal;
  }

body{
    padding: 0;
    margin: 0;
    font-family: "Graphik", sans-serif;
    color: $black;
}

*{
    font-family: "Graphik", sans-serif;
}

.button{
    color: white;
    background-color: $purple;
    height: 40px;
    padding: 0px 15px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-weight:600;

    transition: background-color 0.2s ease-out;
}

.button:hover{
    background-color: $purpleHover;
}

.white{
    background-color: white;
    color: $black;
}

.white:hover{
    background-color: rgba($black, 0.10);
}