@import "../../App.scss";

.mainContainer{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 50px;

    background-color: #F5F6F7;
}

.code{
    font-size: 300px;
    font-weight: 800;

    color: #dbdbdb;
}

.subtitle{
    margin-top: 10px;

    font-size: 30px;
    color: #dbdbdb;
}

.button{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;

    font-size: 20px;

    color: white;
    background-color: $purple;

    height: 40px;
    padding: 0px 30px;
    height: 50px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 40px;
    box-shadow: rgba(95, 95, 95, 0.2) 0px 0px 3px;
  }
